.cont{
    padding-right: 30px;
   
}
.cont img{
    height: 80px;
    width: 80px;
   
}

.cont .messages{
    background:linear-gradient(98deg, #6C83C1 3.47%, #FFF 110.89%);
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.message h1{
        padding-left: 20px;
}