/* MyCalendar.css */

/* Style the container for the calendar */
.Calendar {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px;
  width: 300px; 
  text-align: center; /* Center the calendar within its container */
}

/* Style the calendar header */
.react-calendar__navigation {
  background-color: white !important;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Style the calendar title (month and year) */
.react-calendar__navigation__label {
  font-size: 17px;
  border: 1px solid #ddd;
}



/* Style the calendar header buttons (previous and next) */
.react-calendar__navigation__arrow {
  background-color: #f6f2f2;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}


/*react-calendar__month-view__weekdays__weekday react-calendar__month-view__weekdays__weekday--current*/
/* Style the days of the week (Sun, Mon, Tue, etc.) */
.react-calendar__month-view__weekdays {
  border: 1px solid white;
  text-align: center;
  
}

.react-calendar__month-view__weekdays__weekday--current{
  background-color: #9AA4EC;
  font-weight: 700;
}



.abbr[data-original-title], abbr[title]  {
  text-decoration: none;
  text-align: center; /* Remove text decoration (underline) */
} 




/* Style individual day cells */
.react-calendar__month-view__weekdays {
  border: 1px solid white;
  border-radius: 5px;
}

/* Style selected day cell */
.react-calendar__tile:focus {
  /* background-color: #87DFDB; */
  color: black;
  border: 12px solid #9AA4EC;
}
.react-calendar__tile {
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
  background-color: white ;
}
/* Style today's date cell */
.react-calendar__tile--now {
  background-color: #9AA4EC;
  border: 1px solid #ddd;
  font-weight: 700;
}

